.Game {
    text-align: center;
    user-select: none;
}
.Game .wrapper {
    padding: 10px;
    background-color: #ccc;
    margin-bottom: 10px;
}
.Game .status {
    display: inline-block;
    margin: 0 auto;
}
.Game .status::after {
    clear: both;
    content: "";
    display: block;
}
.Game .lcd {
    display: inline-block;
    margin: 0 20px;
    font-family: 'Orbitron', monospace, sans-serif;
    color: red;
    background: #333333;
    font-size: 36px;
    float: left;
    width: 100px;
    height: 50px;
    line-height: 56px;
}
.Game .restart {
    text-align: center;
    background: white;
    font-size: 26px;
    margin: 0 20px;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 48px;
}
